

form{
    display: flex;
    flex-direction: column;

    gap: 15px;

    margin: 20px 15px 0px 15px;

    padding: 30px 20px;

    border: 1px solid #E9ECEF;
}

form > div{
    display: flex;
    flex-direction: row;

    justify-content: space-between;

    gap: 10px;
}

form > input{
    padding: 16px;
    background: #F8F9FA;
    border: 2px solid #F8F9FA;
    border-radius: 8px;
}

form > div > div{
    display: flex;
    flex-direction: column;

    
    margin-top: 15px;
    margin-bottom: 15px;
}

form > div > div > input, select{
    padding: 16px 10px;
    background: #F8F9FA;
    border: 2px solid #F8F9FA;
    border-radius: 8px;

    width: 100px;
}

form > button{
    padding: 16px;
    background: #FD377E;
    border: 2px solid #FD377E;
    border-radius: 8px;

    color: #FFFFFF;
}

@media (min-width: 769px){
    form{
        margin: 20px 100px 0px 100px;

        width: 300px;
    }
}